[Unit]
Description=ong looper video streamer
After=network.target
After=tailscaled.service

[Service]
Type=simple
EnvironmentFile=/etc/default/looperstream

ExecStart=/root/ong-scripts/looperstream/looperstream.py --host ${OBS_HOST} --port ${OBS_PORT} --timecode-scene ${OBS_TIMECODE_SCENE} --timecode-source ${OBS_TIMECODE_SOURCE} --camera-device ${CAMERA_DEVICE} --stream-url ${STREAM_URL} --stream-res ${STREAM_RES} --stream-fps ${STREAM_FPS} --stream-bitrate ${STREAM_BITRATE} --credentials-file ${DISCORD_CREDENTIALS}

Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
