[Unit]
Description=onglog search discord bot
After=network-online.target

[Service]
Type=simple

User=ongbots
Group=ongmod
Environment="BASEDIR=/home/ongbots/ong-scripts/discord"

# Sucks that we can't use $BASEDIR in the executable path :(
ExecStart=/bin/bash -c "cd '${BASEDIR}' &&  UV_PYTHON_DOWNLOADS=auto /usr/sbin/uv run --script --verbose '${BASEDIR}/ongcodebot.py' --environment xxx"

Restart=on-failure
RestartSec=300s

[Install]
WantedBy=multi-user.target
