[Unit]
Description=onglog search discord bot database updater
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no

User=ongbots
Group=ongmod
Environment="BASEDIR=/home/ongbots/ong-scripts/discord"

ExecStart=/home/ongbots/ong-scripts/discord/venv/bin/python3 "${BASEDIR}/onglogbot.py" --env xxx --update-only

Restart=on-failure
RestartSec=900s

[Install]
WantedBy=multi-user.target
