[Unit]
Description=onglog search discord bot
After=network-online.target

[Service]
Type=simple

User=ongbots
Group=ongmod
Environment="BASEDIR=/home/ongbots/ong-scripts/discord"

# Sucks that we can't use $BASEDIR in the executable path :(
ExecStart=/home/ongbots/ong-scripts/discord/venv/bin/python3 "${BASEDIR}/onglogbot.py" --env xxxx

Restart=on-failure
RestartSec=300s

[Install]
WantedBy=multi-user.target
