[Unit]
Description=onglog search discord bot database updater
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no

User=ongbots
Group=ongmod
Environment="BASEDIR=/home/ongbots/ong-scripts/discord"

ExecStart=/bin/bash -c "cd '${BASEDIR}' &&  UV_PYTHON_DOWNLOADS=auto /usr/sbin/uv run --script --verbose '${BASEDIR}/onglogbot.py' --environment xxx --update-only"
Restart=on-failure
RestartSec=900s

[Install]
WantedBy=multi-user.target
