numpy
scipy
wxPython
opencv-contrib-python
vidgear
setuptools
scikit-image
tdvutil >= 0.0.8
matplotlib
pytesseract
# https://github.com/simonflueckiger/tesserocr-windows_build/releases/download/tesserocr-v2.7.0-tesseract-5.3.4/tesserocr-2.7.0-cp311-cp311-win_amd64.whl
